{% extends "base.html" %}
{% load static %}
{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'pages/index.css' %}">
{% endblock %}
{% load filter_tags %}
{% block title %} Избранное {% endblock %}
    {% block main_header %}
        <h1 class="main__title">Избранное</h1>
        {% include 'tags.html' %}
{% endblock main_header%}
{% block content %}
    {% csrf_token %}
        <div class="card-list">
        {% for item in recipes %}
            <div class="card" data-id="{{ item.recipe.id }}">
                <a class="link" target="_blank"><img src="{{item.recipe.image.url}}"
                                                              alt="image is not available" class="card__image"></a>
                <div class="card__body">
                    <a class="card__title link" href="{% url 'recipe_page' item.recipe.id%}"
                                                                            target="_blank">{{ item.recipe.name}}</a>
                {% if item.recipe.tags %}
                    <ul class="card__items">
                        {% for tag in item.recipe.tags.all %}
                        <li class="card__item"><span class="badge badge_style_{{ tag.color }}">{{ tag.name }}</span></li>
                        {% endfor %}
                    </ul>
                {% endif %}
                    <div class="card__items card__items_column">
                        <p class="card__text"><span class="icon-time"></span> {{ item.recipe.cooking_time }} мин.</p>
                        <p class="card__text"><span class="icon-user"></span> <a href="{% url 'profile' item.recipe.author.username %}" style="color: black">{{ item.recipe.author.get_full_name }}</a></p>
                    </div>
                </div>
                <div class="card__footer">
                    {% if item.recipe.id in card_list %}
                        <button class="button button_style_light-blue-outline" name="purchpurchases"><span class="icon-check button__icon"></span> Рецепт добавлен</button>
                    {%  else %}
                        <button class="button button_style_light-blue" name="purchpurchases" data-out><span class="icon-plus button__icon"></span>Добавить в покупки</button>
                    {% endif %}
                        {% if item.recipe.id in following_list %}
                            <button class="button button_style_none" name="favorites"><span class="icon-favorite icon-favorite_active"></span></button>
                        {% else %}
                            <button class="button button_style_none" name="favorites" data-out><span class="icon-favorite"></span></button>
                        {% endif %}
                </div>
            </div>
        {% endfor %}
        </div>
</main>

{% endblock %}
{% block js %}
<script src="{% static 'js/config/config.js' %}"></script>
<script src="{% static 'js/components/MainCards.js'  %}"></script>

<script src="{% static 'js/components/Purchpurachases.js' %}"></script>
<script src="{% static 'js/components/Favorites.js' %}"></script>

<script src="{% static 'js/components/CardList.js' %}"></script>
<script src="{% static 'js/components/Header.js' %}"></script>

<script src="{% static 'js/api/Api.js' %}"></script>
<script src="{% static 'favorite.js' %}"></script>
{% endblock %}

