{% extends "base.html" %}
{% load static %}
{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'pages/myFollow.css' %}">
{% endblock %}
{% block title %} Мои подписки {% endblock %}
    {% block main_header %}
        <h1 class="main__title">Мои подписки</h1>
        {% include 'tags.html' %}
    {% endblock main_header%}
{% block content %}
    {% csrf_token %}
<div class="card-list">
{% for item in following %}
    <div class="card-user" data-id="{{ item.author.id }}">
        <div class="card-user__header">
            <h2 class="card-user__title"><a href="{% url 'profile' item.author.username %}" style="color: black">{{ item.author.get_full_name }}</a></h2>
        </div>
        <div class="card-user__body">
            <ul class="card-user__items">
                {% for recipe in item.author.recipes.all|slice:"3" %}
                <li class="card-user__item">
                    <div class="recipe">
                        <img src="{{ recipe.image.url }}" alt="image isn't available" class="recipe__image">
                        <a class="recipe__title link" href="{% url 'recipe_page' recipe.id %}" target="_blank">{{ recipe.name }}</a>
                        <p class="recipe__text"><span class="icon-time"></span> {{ recipe.cooking_time }} мин.</p>
                    </div>
                </li>
                {% endfor %}
                <li class="card-user__item">
                <!--Если у пользователя больше 3х рецептов, показать кнопку Остальные рецепты-->
                    {% if item.author.recipes.count > 3 %}
                    <a href="{% url 'profile' item.author.username %}" class="card-user__link link">Остальные рецепты</a>
                    {% endif %}
                </li>
            </ul>
        </div>
        <div class="card-user__footer">
            <button class="button button_style_light-blue button_size_auto" name="subscribe">Отписаться</button>
        </div>
    </div>
{% endfor %}
</div>
{% endblock content %}
{% block js %}
<script src="{% static 'js/config/config.js' %}"></script>
<script src="{% static 'js/components/MainCards.js' %}"></script>
<script src="{% static 'js/components/MyFollow.js' %}"></script>
<script src="{% static 'js/components/Subscribe.js' %}"></script>
<script src="{% static 'js/components/Header.js' %}"></script>
<script src="{% static 'js/api/Api.js' %}"></script>
<script src="{% static 'myFollow.js' %}"></script>
{% endblock js %}


