{% url 'index' as index %}
{% url 'my_subscriptions' as my_subscriptions %}
{% url 'new_recipe' as new_recipe %}
{% url 'favorite_recipes' as favorite_recipes %}
{% url 'card' as card %}

<nav class="nav">
    <div class="nav__container container">
        <ul class="nav__items list">
            <li class="nav__item {% if request.path == index %} nav__item_active {% endif %}">
                <a href="{% url 'index' %}" class="nav__link link">Рецепты</a></li>
            <li class="nav__item {% if request.path == my_subscriptions %} nav__item_active {% endif %}">
                <a href="{% url 'my_subscriptions' %}" class="nav__link link">Мои подписки</a></li>

            <li class="nav__item {% if request.path == new_recipe %} nav__item_active {% endif %} ">
                <a href="{% url 'new_recipe' %}" class="nav__link link">Создать рецепт</a></li>

            <li class="nav__item {% if request.path == favorite_recipes %} nav__item_active {% endif %}">
                <a href="{% url 'favorite_recipes' %}" class="nav__link link">Избранное</a></li>

            <li class="nav__item {% if request.path == card %} nav__item_active {% endif %}">
                <a href="{% url 'card' %}" class="nav__link link">Список покупок</a>
                <span class="badge badge_style_blue nav__badge" id="counter">{{ user.user_shopping_list.count }}</span></li>

        </ul>
        <ul class="nav__items list">
            <li class="nav__item"><a href="{% url 'password_change' %}" class="nav__link link">Изменить пароль</a></li>
            <li class="nav__item"><a href="{% url 'logout' %}" class="nav__link link">Выход</a></li>
        </ul>
    </div>
</nav>
