{% extends "base.html" %}
{% load static %}
{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'pages/shopList.css' %}">
{% endblock %}
{% block title %} Список покупок {% endblock %}
    {% block main_header %}
        <h1 class="main__title">Список покупок</h1>
    {% endblock main_header%}
{% block content %}
    {% csrf_token %}
<div class="card-list card-list_column">
    {% if card %}
        <ul class="shopping-list">
            {% for item in card %}
            <li class="shopping-list__item" data-id="{{ item.recipe.id }}">
                <div class="recipe recipe_reverse">
                    <img src="{{item.recipe.image.url}}" alt="image is not available" class="recipe__image recipe__image_big">
                    <h3 class="recipe__title" href="{% url 'recipe_page' item.recipe.id %}">{{ item.recipe.name }}</h3>
                    <p class="recipe__text"><span class="icon-time"></span> {{ item.recipe.cooking_time }} мин.</p>
                </div>
                <a class="shopping-list__button link">Удалить</a>
            </li>
            {% endfor %}
        </ul>
        <a href="{% url 'download_card' %}"><button class="button button_style_blue">Скачать список</button></a>
    {% else %}
        <!--Если список покупок пустой, вывести по центру надпись чуть пониже-->
        <br>
        <br>
        <h1 class="main__title" align="center">Список покупок пуст</h1>
    {% endif %}
    </div>
{% endblock %}
{% block js %}
<script src="{% static 'js/config/config.js' %}"></script>
<script src="{% static 'js/components/Header.js' %}"></script>
<script src="{% static 'js/components/ShopList.js' %}"></script>
<script src="{% static 'js/api/Api.js' %}"></script>
<script src="{% static 'shopList.js' %}"></script>
{% endblock %}
